openapi: 3.2.0
info:
  title: Defacto Repay API
  version: v1.0.0
  description: Defacto provides instant, embedded financing for SMBs across Europe.
  contact:
    email: contact@getdefacto.com
    url: https://developers.getdefacto.com/
servers:
- url: https://api.getdefacto.com
  description: Production
- url: https://api-sandbox.getdefacto.com
  description: Sandbox
security:
- Bearer: []
tags:
- name: Repay
paths:
  /repay/now:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepayNowRequest'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepayNowResponse'
      security:
      - Bearer: []
      operationId: post_repay-now
      summary: /repay/now
      tags:
      - Repay
components:
  schemas:
    RepayNowRequest:
      properties:
        amount:
          minimum: 1
          type: integer
        base_callback_url:
          type: string
        repayment_method:
          default: null
          enum:
          - PISP
          - null
          type:
          - string
          - 'null'
      required:
      - amount
      - base_callback_url
      type: object
    RepayNowResponse:
      properties:
        url:
          type: string
      required:
      - url
      type: object
  securitySchemes:
    Bearer:
      in: header
      name: Authorization
      type: apiKey
