openapi: 3.2.0
info:
  title: Defacto Business and accounts API
  version: v1.0.0
  description: Defacto provides instant, embedded financing for SMBs across Europe.
  contact:
    email: contact@getdefacto.com
    url: https://developers.getdefacto.com/
servers:
- url: https://api.getdefacto.com
  description: Production
- url: https://api-sandbox.getdefacto.com
  description: Sandbox
security:
- Bearer: []
tags:
- name: Business and accounts
paths:
  /business/{business_id}/segment:
    get:
      parameters:
      - in: path
        name: business_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BusinessSegment'
      security:
      - Bearer: []
      tags:
      - Business and accounts
      operationId: get_business-business-id-segment
      summary: /business/{business_id}/segment
components:
  schemas:
    BusinessSegment:
      properties:
        business_id:
          format: uuid
          type: string
        business_identifier:
          $ref: '#/components/schemas/BusinessIdentifierRequired'
        defacto_segment:
          default: null
          enum:
          - CAT1
          - CAT2
          - CAT3
          - CAT4
          - null
          type:
          - string
          - 'null'
      required:
      - business_id
      - business_identifier
      type: object
    BusinessIdentifierRequired:
      properties:
        identifier:
          type: string
        identifier_type:
          enum:
          - belgium_registration_number
          - bsn
          - cif
          - hr_nummer
          - kvk
          - name
          - nif
          - siren
          - siret
          - steuernummer
          - vat_number
          type: string
      required:
      - identifier
      - identifier_type
      type: object
  securitySchemes:
    Bearer:
      in: header
      name: Authorization
      type: apiKey
