{
  "openapi": "3.0.0",
  "info": {
    "title": "Defacto API",
    "version": "v1.0.0",
    "description": "Defacto provides instant, embedded financing for SMBs across Europe. This REST API lets partners onboard borrowers, test eligibility and credit limits, upload business/bank data, create invoices, request and manage loans, handle repayments and recollection, issue and manage credit cards, bill fees, and subscribe to webhooks. Reconstructed by API Evangelist from the per-operation OpenAPI fragments published on Defacto's ReadMe developer portal (developers.getdefacto.com/llms.txt). operationId values are the provider's ReadMe reference slugs; summaries are the reference page titles.",
    "contact": {
      "email": "contact@getdefacto.com",
      "url": "https://developers.getdefacto.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.getdefacto.com",
      "description": "Production"
    },
    {
      "url": "https://api-sandbox.getdefacto.com",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/invoice/{invoice_id}": {
      "delete": {
        "description": "Delete an invoice by id",
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIInvoice"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "delete_invoice-invoice-id",
        "summary": "/invoice/{invoice_id}"
      },
      "get": {
        "description": "Get an invoice by id",
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIInvoice"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "get_invoice-invoice-id",
        "summary": "/invoice/{invoice_id}"
      },
      "patch": {
        "description": "Updates an invoice (with status TO_SUBMIT or TO_EDIT only)",
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/APIPatchInvoice"
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIInvoice"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "patch_invoice-invoice-id",
        "summary": "/invoice/{invoice_id}"
      }
    },
    "/webhook/{webhook_id}": {
      "delete": {
        "description": "Delete a webhook subscription.",
        "parameters": [
          {
            "in": "path",
            "name": "webhook_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Webhook"
        ],
        "operationId": "delete_webhook-webhook-id",
        "summary": "/webhook/{webhook_id}"
      },
      "patch": {
        "description": "\nUpdate a webhook subscription.\n\n⚠️ Our webhooks always call the POST method of the given url.\n\nFor more information on webhooks such as how to secure them, you can refer to <a href='https://developers.getdefacto.com/reference/introduction'>our guide</a>.\n\n",
        "parameters": [
          {
            "in": "path",
            "name": "webhook_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateWebhook"
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Webhook"
        ],
        "operationId": "patch_webhook-webhook-id",
        "summary": "/webhook/{webhook_id}"
      }
    },
    "/bills": {
      "get": {
        "description": "List your fees invoices (i.e: your Defacto bill) for the loans you performed on the platform.<br/>By default, this endpoint only returns your own bills, but you may request bills for your own specific borrowers (with a business identifier or ID) depending on your contract type.",
        "parameters": [
          {
            "description": "Returns bills with these ids.",
            "in": "query",
            "name": "bill_id",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "default": null
            }
          },
          {
            "description": "Return bills for these business ids.",
            "in": "query",
            "name": "business_id",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "default": null
            }
          },
          {
            "description": "Return bills for theses business identifiers, such as its SIREN in France.",
            "in": "query",
            "name": "business_identifier",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": null
            }
          },
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Returns bills where end_date field is lower to this date.",
            "in": "query",
            "name": "end_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Return light bills.",
            "in": "query",
            "name": "light_bills",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "description": "Returns bills where start_date field is greater or equal to this date.",
            "in": "query",
            "name": "start_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "PAID",
                  "SENT_TO_PAYER",
                  "TO_PAY",
                  "VALIDATED"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage10"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Billing"
        ],
        "operationId": "get_bills",
        "summary": "/bills"
      }
    },
    "/borrower/{borrower_id}/financial-products": {
      "get": {
        "description": "\n## List the financial products available to the borrower.\n\nFinancial products are the product against which a borrower can submit loan requests.\nEach come with its own set of rules, and balances (maximum amount available, etc.).\n",
        "parameters": [
          {
            "in": "path",
            "name": "borrower_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage14"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Financial product"
        ],
        "operationId": "get_borrower-borrower-id-financial-products",
        "summary": "/borrower/{borrower_id}/financial-products"
      }
    },
    "/borrower/{borrower_id}/repayment-methods": {
      "get": {
        "description": "\n<div>\n<h3>List available repayment methods for borrower.</h3>\n</div>\n",
        "parameters": [
          {
            "in": "path",
            "name": "borrower_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage13"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "get_borrower-borrower-id-repayment-methods",
        "summary": "/borrower/{borrower_id}/repayment-methods"
      },
      "post": {
        "description": "\n<div>\n<h3>Add and/or choose the repayment method for borrower.</h3>\n\n<p>If payment method is \"DIRECT_DEBIT\" then the `account` parameter must not be null.</p>\n\n<p>\nIf `is_default_repayment_method` is true, then the repayment method becomes the borrower's default\nrepayment method so that upcmoing loan requests will use this payment method and account as a default.\n<br/>\n<br/>\n<i>\nPlease note: that the account defined in the `loan_to` attribute of created loans is left\nunchanged. If you want to change the destination account of a loan, you must cancel it and\nrequest a new loan.\n</i>\n</p>\n<p>\nIf `apply_to_all_active_loans` is true, then the repayment method is used for upcoming payments of\nall loans that are in TO_REPAY or TO_REPAY_FEES statuses.\n</p>\n</div>\n",
        "parameters": [
          {
            "in": "path",
            "name": "borrower_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiPostRepaymentMethod"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIRepaymentMethodDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "post_borrower-borrower-id-repayment-methods",
        "summary": "/borrower/{borrower_id}/repayment-methods"
      }
    },
    "/borrower/{borrower_id}": {
      "get": {
        "description": "Retrieve the full profile of a borrower by ID. Returns the borrower's status, business information, accounts, compliance checks, and next actions required.",
        "parameters": [
          {
            "in": "path",
            "name": "borrower_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIBorrower"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "get_borrower-borrower-id",
        "summary": "/borrower/{borrower_id}"
      }
    },
    "/borrowers": {
      "get": {
        "description": "List all borrowers enrolled on Defacto for your account. Borrowers are companies that have been registered and can request loans through the Defacto platform. Returns a paginated list with their status, business info, accounts, and compliance data.",
        "parameters": [
          {
            "description": "UUID(s) of the borrower(s) in Defacto API.",
            "in": "query",
            "name": "borrower_id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            }
          },
          {
            "description": "Legal identifier of the business, such as its SIREN in France.",
            "in": "query",
            "name": "borrower_identifier",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Filter borrowers who signed their contract on or after this datetime.",
            "in": "query",
            "name": "from_signed_at",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "description": "Filter borrowers who signed their contract on or before this datetime.",
            "in": "query",
            "name": "to_signed_at",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage12"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "get_borrowers",
        "summary": "/borrowers"
      },
      "post": {
        "description": "\n<div>\n<h3>Enroll a new borrower on Defacto.</h3>\n<p>\nThis API will create a borrower and a credit line for this borrower. More information\nin the <b>behavior</b> section below.\n</p>\n<p>\n<strong>Timeout:</strong> 30 seconds (status code will be 504 in such a case)\n</p>\n<br/>\n<h4>Required data</h4>\n<p>\nBorrower must be a commercial company -> eg. in France needs to be registered at an RCS.\n</p>\n<p>\n<b>If the borrower repays by direct debit, the following information are mandatory:</b>\n</p>\n<ul>\n<li> the director’s personal information: Name, birth date, nationality, email address and country of\nresidence of the managing director</li>\n<li>The IBAN of the borrower (please make sure that the borrower is aware\nthat direct debit is used as the repayment method).</li>\n</ul>\n<p>\nWe strongly recommend that you fill up all the information when you can, even on the sandbox.\nFor French borrowers, we manage to pull most of the director information automatically,\nhowever for other countries, this might not be the case.\nFor the borrowers that Defacto is not able to fetch the mandatory data, you need to provide them\nto ensure borrower creation. Otherwise the API will return a 400 error and list the values that it could\nnot obtain.\n</p>\n<h4>Behavior</h4>\n<p>\nThis API endpoint creates a borrower in our system,\nconfigures our system to get the repayment of the loan,\nevaluates the maximum amount of money we can lend to this company and creates a credit line for this\nborrower.\nAfter the credit line is created for this borrower, you can get it with\n<code>GET /credit-lines?borrower=<THE_COMPANY_NUMBER_OF_THE_BORROWER></code>. <br/>\n<b>Synchronous and asynchronous behaviors are offered.</b> </br>\n</p>\n<p>Synchronous behavior:</br></p>\n<ul>\n<li>Set <code>'wait_for_ready': true</code> to activate it</li>\n<li>\n<b>You can <code>GET /credit-lines?borrower=<THE_COMPANY_NUMBER_OF_THE_BORROWER></code>\nand request a loan right after you received the answer from this API endpoint</b>\n</li>\n<li>Response takes from 4 to 8 seconds</li>\n<li>\nThe API answers after the solvency of the company is evaluated and the credit line is created,\nor returns an error.\n</li>\n</ul>\n<br/>\n<p>Asynchronous behavior (default one):</p>\n<ul>\n<li>Set <code>'wait_for_ready': false</code> to activate it</li>\n</li>\n<li>\nOur system will evaluate the solvency of the company and create its credit line after answering\nthe API call.\n<li>\nSo, a loan cannot be requested right after this endpoint answers. You must wait for the creation\nof the credit line. To discover it, you can either subscribe to the CreditLine.CREATED webhook or\nregularly fetch <code>GET /credit-lines?borrower=<THE_COMPANY_NUMBER_OF_THE_BORROWER></code>.\n</li>\n   <li>Response takes between 0.3 and 1.5 second.</li>\n</ul>\n<blockquote class=\"callout callout_warn\" theme=\"🚧\">\n<h3 class=\"callout-heading\">\n<span class=\"callout-icon\">🚧</span>\n<p>Careful if you subscribe to the CreditLine.CREATED webhook!</p>\n</h3>\n<p>\nIf you subscribe to the webhook, please note that there is an inconsistency in the API at the\nmoment. The webhook sends a <code>borrower_id</code> that does not correspond to the borrower id that\nyou received with this endpoint (it's rather a business_id in our DB, that you cannot fetch).\n</p>\n<p>\nSo at the moment we recommend you to\n<code>GET /credit-lines?borrower=<THE_COMPANY_NUMBER_OF_THE_BORROWER></code> for all borrowers waiting\nfor a credit line when you receive the webhook event.\n</p>\n</blockquote>\n</div>\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIPostBorrower"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIBorrower"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "post_borrowers",
        "summary": "/borrowers"
      }
    },
    "/business/{business_id}/segment": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "business_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessSegment"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Business and accounts"
        ],
        "operationId": "get_business-business-id-segment",
        "summary": "/business/{business_id}/segment"
      }
    },
    "/business/data-request/data-type/{data_type}": {
      "get": {
        "description": "Get translations for a given data request data type.",
        "parameters": [
          {
            "in": "path",
            "name": "data_type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataTypeInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Translation"
        ],
        "operationId": "get_business-data-request-data-type-data-type",
        "summary": "/business/data-request/data-type/{data_type}"
      }
    },
    "/business/public-data": {
      "get": {
        "description": "Search for borrower business information from various sources. This endpoint lets you find the right business identifier to use when onboarding a borrower or counterparty.",
        "parameters": [
          {
            "in": "query",
            "name": "city",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "country",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "identifier_type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hr_nummer"
              ],
              "default": "hr_nummer"
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "postal_code",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "street",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiBusinessDataSearchOutput"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "get_business-public-data",
        "summary": "/business/public-data"
      }
    },
    "/cards/{card_id}/entries/export": {
      "get": {
        "description": "Export card transactions as a Pennylane-compatible CSV. Provide either period (YYYY-MM) or from_date + to_date.",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "period",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "to_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file attachment"
          },
          "404": {
            "description": "Card not found"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Credit card"
        ],
        "operationId": "get_cards-card-id-entries-export",
        "summary": "/cards/{card_id}/entries/export"
      }
    },
    "/cards/{card_id}/entries": {
      "get": {
        "description": "List entries for a credit card.",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "to_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiCardEntry"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Credit card"
        ],
        "operationId": "get_cards-card-id-entries",
        "summary": "/cards/{card_id}/entries"
      }
    },
    "/cards/{card_id}": {
      "get": {
        "description": "Retrieve a credit card by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCard"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Credit card"
        ],
        "operationId": "get_cards-card-id",
        "summary": "/cards/{card_id}"
      }
    },
    "/cards": {
      "get": {
        "description": "List credit cards for the authenticated borrower.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApiCard"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Credit card"
        ],
        "operationId": "get_cards",
        "summary": "/cards"
      }
    },
    "/counterparties": {
      "get": {
        "description": "List all the Counterparties. A Counterparty describes any commercial relations with a company. Counterparties are automatically created from the invoices.",
        "parameters": [
          {
            "description": "Legal name of the business.",
            "in": "query",
            "name": "business_name",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Legal identifier of the business, such as its SIRET or SIREN in France. Must not contain spaces.",
            "in": "query",
            "name": "identifier",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Type of legal business identifier of the business, such as the SIRET in France.",
            "in": "query",
            "name": "identifier_type",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "enum": [
                "belgium_registration_number",
                "bsn",
                "cif",
                "hr_nummer",
                "kvk",
                "name",
                "nif",
                "siren",
                "siret",
                "steuernummer",
                "vat_number",
                null
              ],
              "default": null
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "description": "Description of the relation",
            "in": "query",
            "name": "relation_types",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "BORROWER",
                  "CLIENT",
                  "DEBTOR",
                  "MARKETPLACE_BUYER",
                  "MARKETPLACE_SELLER",
                  "SELF",
                  "SUPPLIER"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Whether this counterparty is selected for financing",
            "in": "query",
            "name": "selected_for_financing",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "boolean",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage7"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Counterparty"
        ],
        "operationId": "get_counterparties",
        "summary": "/counterparties"
      },
      "post": {
        "description": "Create a new counterparty. A Counterparty describes any commercial relations with a company. Counterparties are automatically created from the invoices.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APICounterpartyExplicitCreation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APICounterpartyWithExposure"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APICounterpartyWithExposure"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Counterparty"
        ],
        "operationId": "post_counterparties",
        "summary": "/counterparties"
      }
    },
    "/counterparty/{counterparty_id}": {
      "get": {
        "description": "Get a counterparty by id. A Counterparty describes any commercial relations with a company. Counterparties are automatically created from the invoices.",
        "parameters": [
          {
            "in": "path",
            "name": "counterparty_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APICounterpartyWithExposure"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Counterparty"
        ],
        "operationId": "get_counterparty-counterparty-id",
        "summary": "/counterparty/{counterparty_id}"
      }
    },
    "/credit_line/{credit_line_id}": {
      "get": {
        "deprecated": true,
        "description": "[DEPRECATED] Get credit line by id.<br/> Now use financial-product endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "at",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "path",
            "name": "credit_line_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APICreditLine"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Eligibility and credit limit"
        ],
        "operationId": "get_credit-line-credit-line-id",
        "summary": "/credit_line/{credit_line_id}"
      }
    },
    "/credit_line": {
      "get": {
        "deprecated": true,
        "description": "[DEPRECATED] Get the credit line associated with your account.<br/>Your partner max-exposure is no longer available by API",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APITenantCreditLine"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Eligibility and credit limit"
        ],
        "operationId": "get_credit-line",
        "summary": "/credit_line"
      }
    },
    "/credit_lines": {
      "get": {
        "description": "List all the credit lines that have been opened for your company.<br/>By default, this includes all credit lines that have been created for borrowers you registered, as well as the credit line associated with your account.",
        "parameters": [
          {
            "description": "Search by borrower company number (e.g. SIREN or NIF)",
            "in": "query",
            "name": "borrower",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "UUID(s) of the credit line(s).",
            "in": "query",
            "name": "id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage8"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Eligibility and credit limit"
        ],
        "operationId": "get_credit-lines",
        "summary": "/credit_lines"
      }
    },
    "/eligibility/reasons": {
      "get": {
        "description": "List all the possible reasons for which a borrower would not be eligible for a loan.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ListDenialCode"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "Eligibility and credit limit"
        ],
        "operationId": "get_eligibility-reasons",
        "summary": "/eligibility/reasons"
      }
    },
    "/events": {
      "get": {
        "description": "Search for business events. These events will let you read business events to build you logic on top of it.",
        "parameters": [
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "event_type",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "LOAN_CANCELED",
                  "LOAN_DISBURSEMENT_PAID",
                  "LOAN_EXTRA_PAID",
                  "LOAN_GUARANTEE_DEPOSIT_CHARGED_BACK",
                  "LOAN_GUARANTEE_DEPOSIT_PAID",
                  "LOAN_INTERESTS_CHARGEBACK_PENALIZED",
                  "LOAN_INTERESTS_DISCOUNTED",
                  "LOAN_INTERESTS_FALLEN_DUE",
                  "LOAN_INTEREST_DEPOSIT_CHARGED_BACK",
                  "LOAN_INTEREST_DEPOSIT_PAID",
                  "LOAN_INTEREST_FROM_DEPOSIT_PAID",
                  "LOAN_INTEREST_FROM_DEPOSIT_UNPAID",
                  "LOAN_PRINCIPAL_FALLEN_DUE",
                  "LOAN_PRINCIPAL_FALLEN_LATE",
                  "LOAN_PRINCIPAL_FROM_DEPOSIT_PAID",
                  "LOAN_REFUND_PAID",
                  "LOAN_REPAYMENT_FEES_CHARGED_BACK",
                  "LOAN_REPAYMENT_FEES_PAID",
                  "LOAN_REPAYMENT_NOMINAL_CHARGED_BACK",
                  "LOAN_REPAYMENT_NOMINAL_PAID",
                  "LOAN_REPAYMENT_NOMINAL_UNPAID",
                  "LOAN_RETURNED_PAID",
                  "LOAN_VALIDATED"
                ],
                "type": "string"
              },
              "default": null
            }
          },
          {
            "in": "query",
            "name": "from_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "loan_id",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "default": null
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "to_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage4"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "operationId": "get_events",
        "summary": "/events"
      }
    },
    "/hello": {
      "get": {
        "description": "Make a first call to this endpoint to test your connection to Defacto API with your API Key",
        "responses": {
          "200": {
            "description": "A welcoming message from Defacto API.",
            "content": {
              "text/plain": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Testing"
        ],
        "operationId": "get_hello",
        "summary": "/hello"
      }
    },
    "/installment-plan/{installment_plan_id}": {
      "get": {
        "description": "## Keep track of the progress of an installment plan\nWhen the borrower is late to repay his loans or bills, he probably agreed to an installment plan.\nThis endpoint lets you keep track of a given installment plan.\nWhen every installments are in PAID status, the plan is fully repaid.\n",
        "parameters": [
          {
            "in": "path",
            "name": "installment_plan_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInstallmentPlan"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Recollection"
        ],
        "operationId": "get_installment-plan-installment-plan-id",
        "summary": "/installment-plan/{installment_plan_id}"
      }
    },
    "/installments": {
      "get": {
        "description": "List installements. Filter by loan or various dates to find what you're looking for.",
        "parameters": [
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "installment_plan_ids",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "default": null
            }
          },
          {
            "in": "query",
            "name": "loan_ids",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "default": null
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "paid_at_gt",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "paid_at_lt",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "to_pay_at_gt",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "to_pay_at_lt",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "updated_at_gt",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "updated_at_lt",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage6"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Payment"
        ],
        "operationId": "get_installments",
        "summary": "/installments"
      }
    },
    "/invoices": {
      "get": {
        "description": "Get your invoices",
        "parameters": [
          {
            "description": "Business buying a product or service from the seller.",
            "in": "query",
            "name": "buyer",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "in": "query",
            "name": "invoice_id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            }
          },
          {
            "description": "If false, the invoice is not linked to any loan and has not been submitted for a loan.",
            "in": "query",
            "name": "linked_to_loan",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "boolean",
              "default": null
            }
          },
          {
            "description": "Filters invoices linked to a loan that was paid after the specified date (based on the loan's paid_at field). This filter is only effective when `linked_to_loan` is set to true.",
            "in": "query",
            "name": "linked_to_loan_paid_after",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Filters invoices linked to a loan that was paid before the specified date (based on the loan's paid_at field). This filter is only effective when `linked_to_loan` is set to true.",
            "in": "query",
            "name": "linked_to_loan_paid_before",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "description": "Query to filter invoices",
            "in": "query",
            "name": "query",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Business selling a product or service to the buyer.",
            "in": "query",
            "name": "seller",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "<b>TO_SUBMIT, SUBMITTED, TO_EDIT or VERIFIED</b><ul><li>TO_SUBMIT: the invoice is a draft, you can correct it and submit it when correct</li><li>SUBMITTED: the invoice has been submitted and Defacto is verifying it</li><li>TO_EDIT: the invoice has not been validated by Defacto. It should be edited before you can submit it again</li><li>VERIFIED: the invoice has been verified by Defacto. A loan can now be requested for the invoice.</li></ul>",
            "in": "query",
            "name": "status",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "DECLINED",
                  "DELETED",
                  "PAID",
                  "SUBMITTED",
                  "TO_EDIT",
                  "TO_SUBMIT",
                  "VERIFIED"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "get_invoices",
        "summary": "/invoices"
      },
      "post": {
        "description": "\nCreate an invoice.\n- If you create an invoice that will need to be edited afterwards, create a draft invoice with the <code>is_draft</code> parameter. Otherwise set <code>is_draft</code> to false.\n- This endpoint requires the base64-encoded value of the PDF of the invoice. You can for example use [base64guru](https://base64.guru/converter/encode/pdf).\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIDraftableInvoiceCreation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIInvoice"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Invoice"
        ],
        "operationId": "post_invoices",
        "summary": "/invoices"
      }
    },
    "/loan/{loan_id}/events": {
      "get": {
        "description": "Get the activity eligibility_request of a loan.",
        "parameters": [
          {
            "in": "path",
            "name": "loan_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage2"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Loan"
        ],
        "operationId": "get_loan-loan-id-events",
        "summary": "/loan/{loan_id}/events"
      }
    },
    "/loan/{loan_id}": {
      "get": {
        "description": "Retrieve a loan by its ID. Returns the full loan details including status, amounts, repayment schedule, borrower information, and related documents.",
        "parameters": [
          {
            "in": "path",
            "name": "loan_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoanAPI"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Loan"
        ],
        "operationId": "get_loan-loan-id",
        "summary": "/loan/{loan_id}"
      },
      "patch": {
        "description": "\nUpdates a loan.\n- When the loan is SUBMITTED or TO_VALIDATE, all the below fields can be updated.\n- When the loan is VALIDATED or SCHEDULED, the references and to_repay_at fields can be updated.\n- When the loan is TO_REPAY, only the to_repay_at change be changed. The earliest acceptable date being loan.earliest_to_repay_at.\n\nThis operation is not available when the loan is in another status.\n",
        "parameters": [
          {
            "in": "path",
            "name": "loan_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIPatchLoan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoanAPI"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Loan"
        ],
        "operationId": "patch_loan-loan-id",
        "summary": "/loan/{loan_id}"
      }
    },
    "/loans": {
      "get": {
        "description": "List loans with pagination. Returns a paginated list of loans filterable by borrower, status, dates, and loan type.",
        "parameters": [
          {
            "description": "Search by borrower company number (e.g. SIREN or NIF)",
            "in": "query",
            "name": "borrower",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Returns loans where contractual_repayment_date field is greater or equal to this date.",
            "in": "query",
            "name": "contractual_repayment_date_from",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Returns loans where contractual_repayment_date field is lower to this date.",
            "in": "query",
            "name": "contractual_repayment_date_to",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Returns loans for which the guarantee was called",
            "in": "query",
            "name": "guarantee_called",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "boolean",
              "default": null
            }
          },
          {
            "description": "Entity legally responsible to payback the loan",
            "in": "query",
            "name": "guarantor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Filter by one or more loan UUIDs.",
            "in": "query",
            "name": "id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "loan_type",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CREDIT_CARD_FINANCING",
                  "FUNDING_OBLIGATION_CONSOLIDATION",
                  "INVENTORY_FINANCING",
                  "INVOICE_BASED_FINANCING",
                  "WALLET_FINANCING"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "description": "Returns loans that have been postponed",
            "in": "query",
            "name": "postponed",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "boolean",
              "default": null
            }
          },
          {
            "description": "Search for loans based on one or more of the following fields: loan ID, invoice number, amount, estimated fees, status, or counterparty name.",
            "in": "query",
            "name": "query",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Specify the sorting field and order. Default sorting: created_at DESC. Possible values: ['created_at:asc', 'created_at:desc', 'to_repay_at:asc', 'to_repay_at:desc', 'to_pay_at:asc', 'to_pay_at:desc']",
            "in": "query",
            "name": "sort_by",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "enum": [
                "created_at:asc",
                "created_at:desc",
                "to_pay_at:asc",
                "to_pay_at:desc",
                "to_repay_at:asc",
                "to_repay_at:desc",
                null
              ],
              "default": null
            }
          },
          {
            "description": "Loan statuses. Possible values: ['SUBMITTED', 'PENDING_VALIDATION', 'TO_VALIDATE', 'DECLINED', 'VALIDATED', 'CANCELED', 'SCHEDULED', 'INITIATED', 'TO_REPAY', 'TO_REPAY_FEES', 'CLOSED', 'ISSUE_DETECTED', 'DELETED']",
            "in": "query",
            "name": "status",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CANCELED",
                  "CLOSED",
                  "DECLINED",
                  "DELETED",
                  "INITIATED",
                  "ISSUE_DETECTED",
                  "PENDING_VALIDATION",
                  "SCHEDULED",
                  "SUBMITTED",
                  "TO_REPAY",
                  "TO_REPAY_FEES",
                  "TO_VALIDATE",
                  "VALIDATED"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Returns loans where pay_at field is greater or equal to this date.",
            "in": "query",
            "name": "to_pay_at_from",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Returns loans where pay_at field is lower to this date.",
            "in": "query",
            "name": "to_pay_at_to",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Returns loans where repay_at field is greater or equal to this date.",
            "in": "query",
            "name": "to_repay_at_from",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Returns loans where repay_at field is lower to this date.",
            "in": "query",
            "name": "to_repay_at_to",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Shorthand alias for to_repay_at_from=now() and to_repay_at_to=now().plus(x, 'days'). Mutually exclusive with to_repay_at_from & to_repay_at_to.",
            "in": "query",
            "name": "to_repay_at_within_days",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "integer",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage1"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Loan"
        ],
        "operationId": "get_loans",
        "summary": "/loans"
      },
      "post": {
        "description": "\n## Request a new loan.\n\nIf you haven't visited the guide: [how to make your first loan?](https://developers.getdefacto.com/reference/make-your-first-loan) we recommend you to visit it first.\n\n**Key Parameters**:\nAs the loan request is a complex operation, it has many parameters. The most important ones are:\n- borrower\n- amount\n- to_pay_at\n- to_repay_at\n- salt_id: ⚠️ In order to avoid accidental duplication in requested loans we recommend you to set the <code>salt_id</code> parameter to a unique value for each request.\n\n**Timeout after**: 30 seconds (status code will be 504 in such a case)\n\nFor loan related to invoices, at the moment, we don't support multiple-invoices financing.\n- You can either request a loan for an existing invoice, in which case you should set <code>invoice_ids</code>.\n- Or you can create the invoice and request a loan with a single call to this API.\n- If you pass an invoice in <code>invoices</code>, the base64-encoded value of the PDF of the invoice is required under the <code>document</code> property. You can for example use <a href='https://base64.guru/converter/encode/pdf'>base64guru</a>.\n\n\n### Behavior\nWhen you send this API request, our system will:\n1. Create a loan (you will get its id in the response)\n2. Start evaluating your loan request. Here you should choose between 2 behaviors:\na. (default) Getting the decision asynchronously. The status of the returned loan will always be PENDING_VALIDATION. Webhooks will tell you if it goes approved or declined. In can happen from a few seconds after the request up to a few days after it.\nb. Getting the decision synchronously. This is recommended if this endpoint is called directly from a frontend. To activate this option, set <code>\"wait_for_validation\": true</code>. In such a case, the returned loan status will be:\ni. if the loan is automatically accepted by Defacto -> the status of the loan will be TO_VALIDATE if you set <code>\"auto_validate\": false</code>, or one of: VALIDATED, SCHEDULED, INITIATED, TO_REPAY. Fore more information on this, see section \"Why the status of the loan in the response vary?\" below.\nii. if the loan is automatically declined by Defacto -> the status of the loan will be DECLINED and the <code>denial_reason</code> will be set.\niii. if the loan validation takes longer than 20s (max response time is 2 business days) -> the status of the loan will be PENDING_VALIDATION. It is therefore very important to think about how to communicate with the end-user. While its not an issue for validated loans, it can get frustrating for declined loans. Users must be alerted of loans that gets declined few hours after their request.\n3. If the loan is accepted by Defacto, it will then move forward and its status will be updated regularly. Subscribe to webhooks to get live notifications of this.\n\n**Why the status of the loan in the response vary?**\nThe status vary because our system is asynchronous and the steps moving the loan forward may be executed immediately or not depending on the current load on our system.\n\n**What should I do if the status of the loan is __TO_VALIDATE__?**\nTO_VALIDATE means that Defacto accepted the loan as is.\nThe next step is to get the user consent for this loan offer.\nWhen obtained, call [<code>POST /loan/{loan_id}/validate</code>](https://developers.getdefacto.com/reference/post_loan-loan-id-validate).\n\nMost of the time the user does not want to do this manual consent. To avoid requiring this, you can set <code>\"auto_validate\": true</code> in your request. When setting this option, please ensure that its very explicit for the user that the loan may be automatically accepted and paid so that they won't be able to cancel it. Users can cancel the loan only before Defacto sends the money to the beneficiary, which happens 24 to 48 hours before the <code>\"to_pay_at\"</code> date.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIPostLoan"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoanAPI"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Loan"
        ],
        "operationId": "post_loans",
        "summary": "/loans"
      }
    },
    "/onboarding/{onboarding_id}": {
      "get": {
        "description": "\n## [Partners] Follow the onboarding of a business\n\nIf you haven't visited the guide: [how to make your first loan?](https://developers.getdefacto.com/reference/make-your-first-loan) we recommend you to visit it first.\n\nWhen your borrower is on our web app, sharing his financial data, you might want to keep track of his onboarding.\nThis endpoints will let you get access to the onboarding status and details.\nYou'll be able to know if the borrower has shared his financial data and is ready to request loans;\nhow much does defacto proposes to lend him; and more.\n",
        "parameters": [
          {
            "in": "path",
            "name": "onboarding_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIOnboarding"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Onboarding"
        ],
        "operationId": "get_onboarding-onboarding-id",
        "summary": "/onboarding/{onboarding_id}"
      }
    },
    "/payments": {
      "get": {
        "description": "Get payments related to loans",
        "parameters": [
          {
            "description": "Pagination cursor from the previous response's next_page field. Omit to get the first page.",
            "in": "query",
            "name": "cursor",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Filter payments linked to these deposit IDs.",
            "in": "query",
            "name": "deposit_id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "description": "Filter by source account ID.",
            "in": "query",
            "name": "from_account_id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Return payments created on or after this date.",
            "in": "query",
            "name": "from_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Filter by one or more payment UUIDs.",
            "in": "query",
            "name": "id",
            "required": false,
            "x-nullable": true,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            }
          },
          {
            "description": "Include billing payments (default: true).",
            "in": "query",
            "name": "include_bills",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "description": "Include loan disbursement payments (default: true).",
            "in": "query",
            "name": "include_loans",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "description": "Include payment intent payments (default: true).",
            "in": "query",
            "name": "include_payment_intents",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "description": "Filter by reconciliation status.",
            "in": "query",
            "name": "is_reconciled",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "boolean",
              "default": null
            }
          },
          {
            "description": "Filter payments linked to these loan IDs.",
            "in": "query",
            "name": "loan_id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "description": "Maximum number of items to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "description": "Return payments where paid_at is after this date.",
            "in": "query",
            "name": "paid_after",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Return payments where paid_at is before this date.",
            "in": "query",
            "name": "paid_before",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Filter payments linked to these payment intent IDs.",
            "in": "query",
            "name": "payment_intent_id",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "description": "Filter by payment method (e.g. DIRECT_DEBIT, SCT).",
            "in": "query",
            "name": "payment_method",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "DIRECT_DEBIT",
                  "P2P",
                  "SCT"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Filter by payment type (e.g. LOAN_PAYMENT, REPAYMENT).",
            "in": "query",
            "name": "payment_type",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CHANNEL_VERIFICATION",
                  "CHARGEBACK",
                  "DEPOSIT_FUNDING",
                  "DEPOSIT_RELEASE",
                  "DEPOSIT_WITHDRAWAL",
                  "EXTRA",
                  "INTERNAL",
                  "LENDER_DEBT_RESOLUTION",
                  "LENDER_PREFUNDING",
                  "LENDER_REPURCHASE",
                  "LOAN_PAYMENT",
                  "LOAN_PURCHASE",
                  "PAYMENT_PROVIDER_FEES",
                  "PLATFORM",
                  "REFUND",
                  "REPAYMENT_FEES",
                  "REPAYMENT_FULL",
                  "REPAYMENT_NOMINAL",
                  "RETURNED",
                  "REVENUE_SHARE",
                  "REVERT",
                  "SUBSCRIPTION"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Filter by payment references.",
            "in": "query",
            "name": "references",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Sort field and direction (format: column:ASC or column:DESC).",
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "amount:asc",
                "amount:desc",
                "payment_method:asc",
                "payment_method:desc",
                "scheduled_at:asc",
                "scheduled_at:desc"
              ]
            }
          },
          {
            "description": "Filter by payment status.",
            "in": "query",
            "name": "status",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CANCELED",
                  "FAILED",
                  "INSTRUCTED",
                  "IN_TRANSIT",
                  "PAID",
                  "PROPOSED",
                  "SCHEDULED"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Filter by destination account ID.",
            "in": "query",
            "name": "to_account_id",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "default": null
            }
          },
          {
            "description": "Return payments created on or before this date.",
            "in": "query",
            "name": "to_date",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "description": "Return payments updated after this date.",
            "in": "query",
            "name": "updated_after",
            "required": false,
            "x-nullable": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage5"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Payment"
        ],
        "operationId": "get_payments",
        "summary": "/payments"
      }
    },
    "/recollection-case/{recollection_case_id}": {
      "get": {
        "description": "Get details of a recollection case.",
        "parameters": [
          {
            "in": "path",
            "name": "recollection_case_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRecollectionCase"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Recollection"
        ],
        "operationId": "get_recollection-case-recollection-case-id",
        "summary": "/recollection-case/{recollection_case_id}"
      },
      "put": {
        "description": "Add notes to a recollection case to follow up on recollection process.",
        "parameters": [
          {
            "in": "path",
            "name": "recollection_case_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiPutRecollectionCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRecollectionCase"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Recollection"
        ],
        "operationId": "put_recollection-case-recollection-case-id",
        "summary": "/recollection-case/{recollection_case_id}"
      }
    },
    "/recollection-cases": {
      "get": {
        "description": "Get recollection cases. You can filter results using debtor business identifier.",
        "parameters": [
          {
            "in": "query",
            "name": "identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "identifier_type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "belgium_registration_number",
                "bsn",
                "cif",
                "hr_nummer",
                "kvk",
                "name",
                "nif",
                "siren",
                "siret",
                "steuernummer",
                "vat_number"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage11"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Recollection"
        ],
        "operationId": "get_recollection-cases",
        "summary": "/recollection-cases"
      },
      "post": {
        "description": "## Open a recollection case\nWhen the borrower is late to repay his loans or bills, you must open a recollection case to start taking\nactions to recover the debt.\nThis endpoint will let you open a new recollection case for a business (debtor).\nYou need to indicate at least one loan or bill (ids).\nFor the follow up of the case by the recollection agent, you need to add a task to be done in the future.\nThe task MUST have a name and a due date, the description is optional.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiCreateRecollectionCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRecollectionCase"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Recollection"
        ],
        "operationId": "post_recollection-cases",
        "summary": "/recollection-cases"
      }
    },
    "/referrer/{referrer_id}": {
      "get": {
        "description": "Get referrer details by ID",
        "parameters": [
          {
            "in": "path",
            "name": "referrer_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiReferrer"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Billing"
        ],
        "operationId": "get_referrer-referrer-id",
        "summary": "/referrer/{referrer_id}"
      }
    },
    "/sandbox/business-generator": {
      "get": {
        "description": "\nGenerate a fake business for you to use in your test.\nImportant, this endpoint does not create the business but simply return the payload.\nCall `/borrowers` to register this business and generate loan for it\nWarning: these invoices and their IBANs will not work in production.\n",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BEL",
                "DEU",
                "ESP",
                "FRA",
                "GUF",
                "ISL",
                "MAF",
                "NLD",
                "REU"
              ],
              "default": "FRA"
            }
          },
          {
            "in": "query",
            "name": "is_borrower",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/APIPostBorrower"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Testing"
        ],
        "operationId": "get_sandbox-business-generator",
        "summary": "/sandbox/business-generator"
      }
    },
    "/sandbox/iban-generator": {
      "get": {
        "description": "\nGenerate a new IBAN that will produce a given scenario on the sandbox, for example a rejected loan.\nEach IBAN can be used as the account of a single counterparty or borrower (a buyer or seller of yours).\nSo, if you want to test the API for several of your counterparties, you will have to generate several of them.\nThe BIC associated to these IBANs is FK2FACTO.\nAlso, if you want to test another scenario on a given business, create a new IBAN and use it in the <code>to_account</code> field of the next invoice and loan that you create for this counterparty.\nFor more information on the scenarios of the sandbox, please refer to the <a href=\"https://developers.getdefacto.com/reference/testing-your-integration\">Testing Multiple Scenarios & Errors</a> section.\nWarning: these IBANs will not work in production.\n",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BEL",
                "DEU",
                "ESP",
                "FRA",
                "GUF",
                "ISL",
                "MAF",
                "NLD",
                "REU"
              ],
              "default": "FRA"
            }
          },
          {
            "in": "query",
            "name": "scenario",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CANCEL",
                "FAIL",
                "REJECT",
                "SUCCESS",
                "SUCCESS_ONE_DAY_LATER"
              ],
              "default": "SUCCESS"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateIbanResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Testing"
        ],
        "operationId": "get_sandbox-iban-generator",
        "summary": "/sandbox/iban-generator"
      }
    },
    "/translation/denial-code/{code}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResult"
                }
              }
            }
          }
        },
        "tags": [
          "Translation"
        ],
        "operationId": "get_translation-denial-code-code",
        "summary": "/translation/denial-code/{code}"
      }
    },
    "/webhooks": {
      "get": {
        "description": "\nList your webhook subscription.\n\n⚠️ Our webhooks always call the POST method of the given url.\n\nFor more information on webhooks such as how to secure them, you can refer to <a href='https://developers.getdefacto.com/reference/introduction'>our guide</a>.\n\n",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TypedApiPage9"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Webhook"
        ],
        "operationId": "get_webhooks",
        "summary": "/webhooks"
      },
      "post": {
        "description": "\nCreate a webhook subscription.\n\n⚠️ Our webhooks always call the POST method of the given url.\n\nFor more information on webhooks such as how to secure them, you can refer to <a href='https://developers.getdefacto.com/reference/introduction'>our guide</a>.\n\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateWebhook"
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Webhook"
        ],
        "operationId": "post_webhooks",
        "summary": "/webhooks"
      }
    },
    "/cards/{card_id}/status": {
      "patch": {
        "description": "Update card status. Accepted values: 'active', 'inactive', 'canceled'.",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCard"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Credit card"
        ],
        "operationId": "patch_cards-card-id-status",
        "summary": "/cards/{card_id}/status"
      }
    },
    "/bill/{bill_id}/sent": {
      "post": {
        "description": "\nThis endpoint enables you to notify Defacto when you sent the bill for the fees of the loans to your user.\nA bill should be sent to the user only when its status is VALIDATED (see GET /bills endpoint).\n\nIt is very important to use this endpoint so that Defacto can proceed to a recollection process\nthat will be fair for our users.\n\nThis endpoint is useful only for partners who send the bill themselves.\nBy default the bills are sent the the payers of the fees by Defacto.\nIf you need to send them by yourself please get in touch with us.\n",
        "parameters": [
          {
            "in": "path",
            "name": "bill_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIBillSentByPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "",
            "content": {
              "*/*": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Billing"
[...]
